.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated.delay-500ms {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

.animated.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.animated.delay-2s {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.animated.delay-3s {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.animated.delay-4s {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.animated.delay-5s {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.animated.fast {
    -webkit-animation-duration: .8s;
    animation-duration: .8s
}

.animated.faster {
    -webkit-animation-duration: .5s;
    animation-duration: .5s
}

.animated.slow {
    -webkit-animation-duration: 2s;
    animation-duration: 2s
}

.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s
}



@keyframes imageEnter {
  0% {
    opacity: 0;
    transform: scale(1.08);
  }
}

.imageEnter {
  animation-name: imageEnter;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0) skewY(-10deg);
  }
}

@keyframes fadeUpOpacity {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

.fadeUpOpacity {
  animation-name: fadeUpOpacity;
}
